@font-face {
    font-family: circuit;
    src: url('font/Circuit.otf') format('opentype');
  }
  
  @font-face {
      font-family: ttnorms;
      src: url('font/TTNorms-Regular.otf') format('opentype');
    }
    
    
     body {
      background-color: rgb(71, 71, 71);
      font-family: segoe;
    }
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    li {
      margin-right: 5px;
      border: 5px solid #008CBA;
      padding: 5px 15px;
      color: white;
      display: inline;
      font-size: 30px;
    }
    
    img {
      width: auto;
      height: 50px;;
    }
    
    a, a:link, a:visited {
      text-decoration: none;
      color: #008CBA;
    }
    
    
    #Game {
      min-width: 350px;
    }
    
    #Title {
      letter-spacing: .01em;
      font-weight: bolder;
      font-size: 65px;
      text-shadow: -5px 5px rgba(0,0,0,0.19);
      color: #008CBA;
      margin-top: -50px;
      margin-bottom: -50px;
      font-family: circuit;
      
    }
    
    #Message {
      font-size: 25px;
      color: #008CBA;
      font-weight: bold;
    }
    
    #Guesses {
      margin-top: 25px;
      height: 65px;
      width: auto;
    }
    
    #Footer {
      margin-left: -8px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: fixed;
      bottom: 0;
      background-color: white;
      border-top: 2px solid black;
      width: 100%;
    }
    
    #Jay {
      flex-grow: 1;
    }

    #JayBiscuits {
      flex-grow: 1;
      font-size: 18px;
      font-weight: 1000;
      color:  #008CBA;
    }    
    
    .center {
      text-align: center;
    }
    
    #InputGuess {
      margin: 10px;
      border-radius: 50%;
      height: 200px;
      width: 200px;
      text-align: center;
      font-size: 100px;
      border: 10px solid #008CBA;
      color: #008CBA;
      outline: none;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      margin-bottom: 30px;
    }
    
    .button {
      font-weight: 600;
      margin: 5px;
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 10px 30px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      outline: none;
    }
    
    .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      background-color: rgb(0, 111, 148);
    }
    
    .button:active {
      background-color: rgb(0, 55, 73);
    }